.clubInfo{
    background-color: #154284;
    color: white;
    border-radius: 30px;
    margin: 2% 0;
}
.details-container{
    background-color: #201733;
}
.description{
    color: white;
}
.img-style{
    display: flex;
    justify-content: center;
    align-items: center;
}
